<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="19.2.0" targetFramework="net471" />
  <package id="Aspose.Tasks" version="19.2.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Syncfusion.Compression.Base" version="16.3.0.21" targetFramework="net452" />
  <package id="Syncfusion.DocIO.WinForms" version="16.3.0.21" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="16.3.0.21" targetFramework="net452" />
  <package id="Syncfusion.OfficeChart.Base" version="16.3.0.21" targetFramework="net452" />
</packages>